extends ./_partial/_layout

block stylesheets
  link(rel="stylesheet",href="common/css/main.css")

block scripts
  script(src = "common/js/main.js")

block content
  div.frame-all
    div.frame-all-inner
      div.mod-login.ex-center
        button#login Facebookにログインする