@import '../../node_modules/nib'

global-reset()
reset-html5()
@import "./libs/_cssfonts.styl"
@import "./libs/_utils.styl"

body
  font-family $_font_hiragino
  font-size fz(12)
  background #666

.ex-center
  text-align center

.frame-all
  width 600px
  margin 0 auto
  background #CCC

.frame-all-inner
  padding 20px